*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  border: 1px solid green;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
button{
  margin-left: 10px;
  border: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 10px 12px;
  border-radius: 5px;
}
button:hover{
  border-radius: 5px;
  border: 1px solid green;
  color: green;
}